# GEMINI_API_KEY: Required for text emotion detection.
# Get your key at: https://aistudio.google.com/app/apikey
GEMINI_API_KEY= your_API_key

# APP_URL: The URL where this applet is hosted.
# Automatically injected in AI Studio.
APP_URL=http://localhost:3000
